body {

    background-color: #121212;
    color: white;
}

.titulo {

    text-align: center;
    margin-bottom: 30px;
}

.card {

    background-color: #1f1f1f;
    color: white;
    border-radius: 10px;
}

.table {

    color: white;
}

li {

    margin-bottom: 5px;
}

button {

    margin-right: 5px;
    margin-top: 5px;
}